<h1> Login </h1>
<%= render partial: "layouts/errors", locals: {object: @user} %>

<%= form_tag login_path do %>

    <div class="field <%= 'field_with_errors' if @user.errors[:name].any? %>">
        <label> Name: </label>
        <%= text_field_tag "name" %><br><br>
    </div>

    <div class="field <%= 'field_with_errors' if @user.errors[:password].any? %>">
        <label> Password: </label>
        <%= password_field_tag "password" %><br>
    </div>
    </br>

    <%= submit_tag "Sign In" %>
<% end %>
    


