<h1> Login </h1>

<%= form_tag login_path do %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2> Error: </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field <%= 'field_with_errors' if @user.errors[:name].any? %>">
        <label> Name: </label>
        <%= text_field_tag "name" %><br><br>
    </div>

    <div class="field <%= 'field_with_errors' if @user.errors[:email].any? %>">
        <label> Email: </label>
        <%= email_field_tag "email" %><br><br>
    </div>

    <div class="field <%= 'field_with_errors' if @user.errors[:password].any? %>">
        <label> Password: </label>
        <%= password_field_tag "password" %><br>
    </div>
    </br>

    <%= submit_tag "Sign In" %>
<% end %>
    


