<h1> Teachers </h1>

    <h2><%= @user.name %></h2>

    <h3> Requested Items </h3>

    <% @user.items.item_order.each do |item| %>
        <p><U><%= link_to item.name, item_path(item[:id]) %></U><br>
            Amount Still Needed: <%= item.amount_needed %><br> 
    <% end %>

    <br>
    </br>

<%= link_to "School List", schools_path %>
<br>
</br>
        
<%= button_to "Logout", logout_path %>

