<h1> Sign Up </h1>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Error:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <% message %>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field<%= 'field_with_errors' if @user.errors[:name].any? %>">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <br>

    <div class="field<%= 'field_with_errors' if @user.errors[:email].any? %>">
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <br>  
    
    <div class="field<%= 'field_with_errors' if @user.errors[:password].any? %>">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <br>

    <div class="field<%= 'field_with_errors' if @user.errors[:role].any? %>">
        <%= f.label :role %>
        <%= f.select :role, [['Teacher', 1],['Donor', 2]], :prompt => 'Select One' %>
    </div>
    <br>

    </br>

    <%= f.submit "Submit" %>

<% end %>

    


