<h1> Donors </h1>

<h2><%= @user.name %> <%= @user.role %></h2>
<h2> Available Money: $<%= @user.donation_amount %></h2>


<br>
</br>

<%= link_to "Update Amount You Want To Donate", edit_user_path(@user) %>
<br>
</br>

<%= link_to "Schools", schools_path %>
<br>
<%= button_to "Logout", logout_path %>