<%= form_for([@item.school,@item]) do |f| %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :school_id, :value => params[:school_id] %>

    <p> Item Name: </p>
    <%= f.text_field :name, required:true %><br>
   
    <p> Cost Per Unit (round up): </p>
    <%= f.number_field :cost, required:true %><br>
  
    <p> Amount Needed: </p>
    <%= f.number_field :amount_needed, required:true %><br>

    </br>
    <%= f.submit %>
<% end %>