<h1> Add a New Item </h1>

<%= form_for @item do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> 

    <%= f.label :cost %>
    <%= f.number_field :cost %>

    <%= f.label :amount_needed %>
    <%= f.number_field :amount_needed %>

    <%= f.submit "Add the Item" %>
<% end %>