<h3> <%= @item.school.name %> </h3> <br>

<h1> <%= @item.name %> </h1><br>

<p> <b> Total Cost: $<%= @item.total_cost %></b> </p> 

<p>Cost per unit: $<%= @item.cost %> </p> 
<p> Units Still Needed: <%= @item.amount_needed %></p>
<p> Units Donated: <%= @item.units_donated %></p>


<%= link_to "Donate Now!", donate_school_item_path(@item) %>

<%= link_to "Edit Item", edit_school_item_path %>