<h1> <%= @item.school.name %> </h1> 
<% if flash[:msg] %>
    <h3><%= flash[:msg] %></h3>
<% end %>

<h2> <%= @item.name %> </h2>


<p> <b>Goal: $<%= @item.total_cost %></b> <br>

Cost per unit: $<%= @item.cost %>  <br>
Units Still Needed: <%= @item.amount_needed %>

<br>
</br>

<% if current_user.role == 1%>
    <%= link_to "Edit Item", edit_school_item_path(@item) %>
    <%= button_to 'Delete Item', @item, method: :delete %>
<% else %>
    <% if @item.amount_needed != 0 %>
        <%= link_to "Donate Now!", donate_item_path(@item) %>
    <% end %>
    <h3> You have this much to donate: $<%= current_user.donation_amount %> </h3><br>
<% end %>
<br>
</br>
<%= link_to "School Home Page", school_items_path(@item.school) %>

