<h1> <%= @item.school.name %> </h1> 

<h2> <%= @item.name %> </h2>


<p> <b>Goal: $<%= @item.total_cost %></b> <br>

Cost per unit: $<%= @item.cost %>  <br>
Units Still Needed: <%= @item.amount_needed %>

<br>
</br>

<%= item_show_page_links %>
<%= delete_button %>


