<h1> <%= @item.school.name %> </h1> <br>

<h3> <%= @item.name %> </h3><br>

<p> <b> Remaining Goal: $<%= @item.total_cost %></b> <br>

Cost per unit: $<%= @item.cost %>  <br>
Units Still Needed: <%= @item.amount_needed %><br>
Units Donated: <%= @item.units_donated %></p><br>

<% if current_user.role == 1%>
    <%= link_to "Edit Item", edit_item_path(@item) %>
<% else %>
    <%= link_to "Donate Now!", donate_item_path(@item) %>
<% end %>


