<h1> Schools </h1>

<% @schools.each do |school| %>
    <p><b><%= link_to "#{school.name}", school_path(school)  %> - <%= school.location %></b></p>
        <% school.items.each do |item| %>
            <ul>
            <li><%= item.name %> - $</li>
            
            </ul>
        <% end %>
<% end %>

<br>
</br>

<% if current_user.role == 1 %>
    <%= link_to "New School", new_school_path %>
<% end %>

<br>
</br>
<%= link_to "Profile Page", user_path(current_user) %>