<h1> Schools </h1>

<% @schools.each do |school| %>
    <p><b><%= link_to "#{school.name}", school_items_path(school)  %> - <%= school.location %></b></p>
        <% school.items.each do |item| %>
            <ul>
            <li><%= item.name %> - $<%= item.total_cost %></li>
            
            </ul>
        <% end %>
<% end %>

<br>
</br>

<%= school_index_page_links %>
    



