<h1> Add your School </h1>
<%= render partial: "layouts/errors", locals: {object: @school} %>

<%= form_tag schools_path do %>    
    <label> Name: </label>
    <%= text_field_tag "name", @school.name %><br>

    <label> Location: </label>
    <%= text_field_tag "location", @school.location %><br>
    </br>

    <%= submit_tag "Add Your School" %>
<% end %>

