<h1><%= @school.name %></h1>
<h2> <%= @school.location %></h2>
<br>
</br>

<h3> Needed Items </h3>

<% @school.items.each do |item| %>
    <p><U><% if item.amount_needed != nil %>
            <%= link_to item.name, item_path(item[:id]) %></U>
        <% else %>
            <% item.name %>
        <% end %> <br>  
    Remaining Goal: $<%= item.total_cost %><br> 
    Units Still Needed: <%= item.amount_needed %><br>
<% end %>

<% @school.items.each do |item| %>
    <p><U><%= link_to item.name, item_path(item[:id]) %></U><br>  
    Remaining Goal: $<%= item.total_cost %><br> 
    Units Still Needed: <%= item.amount_needed %><br>
<% end %>


<% if current_user.role == 1%>
    <%= link_to "Add Item", new_item_path(@item) %>
<% else %>
    <p> Click on the item to donate <p>
<% end %>



<br>
</br>

<%= link_to "User Profile Page", current_user %>

<br>
</br>

<%= link_to "School List", schools_path %>





    
