<h1><%= @school.name %></h1>
<h2> <%= @school.location %></h2>
<br>
</br>

<% @school.items.each do |item| %>
    <p><U> <%= link_to "#{item.name} for #{item.user.name}", item_path(item[:id]) %></U><br>
    Remaining Goal: $<%= item.total_cost %><br> 
    Units Still Needed: <%= item.amount_needed %></p><br>
<% end %>

<br>
</br>


<%= school_show_page_links %>
    










    
