<h1><%= @school.name %></h1>
<h2> <%= @school.location %></h2>
<br>
</br>

<% @school.items.each do |item| %>
    <% if item.amount_needed != 0 || item.user_id == current_user.id %>
           <p><U> <%= link_to item.name, item_path(item[:id]) %> </U><br>
        <% else %>
        <U> <%= item.name %></U><br>
        <% end %> 
    Remaining Goal: $<%= item.total_cost %><br> 
    Units Still Needed: <%= item.amount_needed %></p><br>
<% end %>

<br>
</br>


<% if current_user.role == 1%>
    <%= link_to "Add Item", new_school_item_path(@school) %>
<% else %>
    <p> Click on the item to donate <p>
<% end %>










    
