<h1> School </h1>

<h3><%= @school.name %> - <%= @school.location %><h3>

<h1> List of all the Items </h1>

<% @school.items.each do |item| %>
    <ol>
    <li><%= link_to item.name, school_item_path(item[:id]) %> - <%= item.cost %> - <%= item.amount_needed %></li>
    </ol>
<% end %>

<% if current_user.role == 1%>
    <%= link_to "Add Item", new_item_path %>
<% end %>

<% if current_user.role == 2 %>
    <p> Click on the item to donate <p>
<% end %>

<%= link_to "Add Item", new_item_path %>




    
